# Discord Bot Token
DISCORD_TOKEN=your_discord_token_here

# MongoDB Connection URI
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/fight-john

# Optional: Bot Prefix (default is >>)
BOT_PREFIX=>>
